@import './sets&mixins';
div.App {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    background: black;
    color: white;

    overflow: hidden scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}
